{
  "extends": [
    "standard-with-typescript"
  ],
  "plugins": [
    "import",
    "react-hooks",
    "react",
    "jest"
  ],
  "parserOptions": {
    "project": [
      "tsconfig.json"
    ]
  },
  "rules": {
    "import/order": [
      "warn",
      {
        "groups": [
          [
            "builtin",
            "external"
          ]
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "rules": {
        "@typescript-eslint/strict-boolean-expressions": [
          "error",
          {
            "allowString": true,
            "allowNumber": true,
            "allowNullableObject": true,
            "allowNullableBoolean": false,
            "allowNullableString": false,
            "allowNullableNumber": false,
            "allowAny": false,
            "allowRuleToRunWithoutStrictNullChecksIKnowWhatIAmDoing": false
          }
        ],
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/prefer-nullish-coalescing": [
          "error",
          {
            "ignoreConditionalTests": true,
            "ignoreMixedLogicalExpressions": true
          }
        ],
        "@typescript-eslint/return-await": [
          "error",
          "in-try-catch"
        ],
        "@typescript-eslint/promise-function-async": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-misused-promises": [
          "error",
          {
            "checksVoidReturn": true
          }
        ],
        "@typescript-eslint/restrict-template-expressions": "off",
        "@typescript-eslint/no-invalid-void-type": "off",

        "react/forbid-foreign-prop-types": [
          "warn",
          {
            "allowInPropTypes": true
          }
        ],
        "react/jsx-no-comment-textnodes": "warn",
        "react/jsx-no-duplicate-props": "warn",
        "react/jsx-no-target-blank": "warn",
        "react/jsx-no-undef": "error",
        "react/jsx-pascal-case": [
          "warn",
          {
            "allowAllCaps": true,
            "ignore": []
          }
        ],
        "react/no-danger-with-children": "warn",
        "react/no-direct-mutation-state": "warn",
        "react/no-is-mounted": "warn",
        "react/no-typos": "error",
        "react/require-render-return": "error",
        "react/style-prop-object": "warn",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn"
      }
    },
    {
      "files": [
        "**/*.spec.ts",
        "**/*.spec.tsx"
      ],
      "rules": {
        "@typescript-eslint/no-floating-promises": "off",
        "jest/expect-expect": "warn",
        "jest/no-identical-title": "warn",
        "jest/valid-describe-callback": "warn",
        "jest/valid-expect": "warn",
        "jest/valid-expect-in-promise": "warn"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
