/.idea

/**/node_modules

/**/yarn-error.log
/**/tsconfig.tsbuildinfo
lerna-debug.log

/packages/*/lib
/typedoc

/**/.env
/**/.env.*

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
